name: Update README

on:
  push:
    paths:
      - '**.user.js'
      - '**.user.css'
      - 'update_readme.py'
      - '.github/workflows/update_readme.yml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Run script
      run: python update_readme.py

    - name: Commit and push changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "docs: auto update README.md"
        file_pattern: README.md
        # commit_user_name 與 email 使用預設即可，無需特別指定